.checkbox-wrapper {
  width: 16rem;
  height: 12rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2rem;
  border: 0.0625rem dashed var(--border-section-color);
  border-radius: 0.3125rem;
}

.checkbox-container {
  position: relative;
  box-sizing: border-box;
  width: 1rem;
  height: 1rem;
  display: flex;
}

.checkbox-container__area {
  appearance: none;
  width: 1rem;
  height: 1rem;
  background-color: var(--main-background-color);
  border: 0.0625rem solid var(--secondary-color);
  border-radius: 0.125rem;
  box-sizing: border-box;
  outline-color: var(--main-color);
  cursor: pointer;
}

.checkbox-container__area:checked {
  background-color: var(--main-color);
  border: none;
}

.checkbox-container__checkmark {
  fill: var(--main-background-color);
  stroke: none;
  position: absolute;
  top: 0;
  left: 0;
}
