.dropdown-wrapper {
  width: 42rem;
  height: 32rem;
  margin-bottom: 2rem;
  border: 0.0625rem dashed var(--border-section-color);
  border-radius: 0.3125rem;
  box-sizing: border-box;
  padding: 3rem;
}

.dropdown-wrapper-top {
  display: flex;
  gap: 3rem;
  margin-bottom: 6rem;
}

.dropdown-wrapper-bottom {
  display: flex;
  gap: 3rem;
}

.container {
  width: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--main-background-color);
  box-shadow: 0 0.5rem 1.5rem var(--dropdown-shadow-color),
    0 0.25rem 0.5rem var(--dropdown-shadow-color),
    0 0.125rem 0.125rem var(--dropdown-shadow-color);
  border-radius: 0.5rem;
  padding: 0.5rem 0 0.5rem 0;
  box-sizing: border-box;
  font-family: "Ubuntu", Arial, sans-serif;
  color: var(--main-text-color);
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1rem;
}

.container__item {
  display: flex;
  align-items: center;
  height: 2rem;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem 0 0.5rem 1rem;
}

.container__item_dropdown {
  padding: 0;
}

.checkbox-container__wrapper {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
}

.checkbox-container__wrapper_dropdown {
  width: 100%;
  padding-left: 1rem;
}

.checkbox-container_dropdown {
  width: 100%;
}

.checkbox-container__checkmark_dropdown {
  width: 1rem;
  left: 1rem;
}

.checkbox-container__area:checked + .checkbox-container__title {
  color: var(--main-color);
}

.input-container__field_dropdown {
  padding: 0.5rem 0.25rem 0.5rem 0.5rem;
}

.radio-container__wrapper {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
}

.container__item_hidden .radio-container__area {
  display: none;
}

.radio-container__area:checked + .radio-container__title {
  color: var(--main-color);
}

.radio-container_dropdown {
  width: 100%;
}

.radio-container__wrapper_dropdown {
  width: 100%;
  padding-left: 1rem;
}

.input-container_dropdown {
  width: 100%;
}

.input-container__field_dropdown {
  padding: 0.5rem 0.25rem 0.5rem 0.5rem;
}

.dropdown-container {
  width: 10rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--main-background-color);
  box-shadow: 0 0.5rem 1.5rem var(--dropdown-shadow-color),
    0 0.25rem 0.5rem var(--dropdown-shadow-color),
    0 0.125rem 0.125rem var(--dropdown-shadow-color);
  border-radius: 0.5rem;
  box-sizing: border-box;
  font-family: "Ubuntu", Arial, sans-serif;
  color: var(--main-text-color);
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1rem;
}

.button_full-width {
  width: 100%;
}

.dropdown-container_size-small {
  height: 5.5rem;
}
