.button-wrapper {
  width: 36rem;
  height: 23.5rem;
  margin-bottom: 2rem;
  border: 0.0625rem dashed var(--border-section-color);
  border-radius: 0.3125rem;
  box-sizing: border-box;
  padding: 3rem;
}

.button-wrapper-top {
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 3rem;
  padding-right: 3rem;
}

.button-wrapper-bottom {
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  padding-right: 12.25rem;
}

.button {
  height: 2rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  font-family: "Ubuntu", Arial, sans-serif;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1rem;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
}

.button_color_primary {
  background-color: var(--main-color);
  color: var(--main-background-color);
  outline-color: var(--secondary-color);
}

.button_color_transparent {
  background-color: transparent;
  color: var(--main-color);
  outline-color: var(--secondary-color);
}

.button_color_black {
  background-color: transparent;
  color: var(--main-text-color);
  outline-color: var(--secondary-color);
}

.button_color_transparent .button__icon {
  fill: var(--main-color);
}

.button_color_black .button__icon {
  fill: var(--main-text-color);
}

.button_text_only {
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.button_icon_only {
  padding: 0.5rem;
}

.button_size_small {
  height: 1.5rem;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.button_size_small .button__icon_only {
  padding: 0.25rem;
}

.button__icon {
  width: 1rem;
  height: 1rem;
  fill: var(--main-background-color);
  stroke: none;
}
